Series 생성

In [1]:
import pandas as pd
# 일반화된 numpy 배열로서의 series
# 인덱스를 주지 않으면 0,1,2,...로 설정됨
data1 = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])
data2 = pd.Series([0.25, 0.5, 0.75, 1.0], index = [2,5,3,7])
data1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

DataFrame 생성

In [0]:
# dictionary로서의 series (key가 index 역할)
d1 = {
    'a' : 31,
    'b' : 21,
    'c' : 16,
    'd' : 41
    }
data1 = pd.Series(d1)

d2 = {
    'a':11,
    'b':54,
    'c':52,
    'd':95
    }
data2 = pd.Series(d2)

state = pd.DataFrame({
    'data1' : data1,
    'data2' : data2
})
print(state)
a = pd.DataFrame(data1,columns=['data1'])
a

   data1  data2
a     31     11
b     21     54
c     16     52
d     41     95

   data1
a     31
b     21
c     16
d     41

In [0]:
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Index 객체

In [0]:
ind = pd.Index([2,3,5,7,11])

# 배열에서 제공하는 인덱싱 가능
print(ind[1])

# 슬라이싱 가능
print(ind[::2])

# 집합 연산도 가능
A = pd.Index([1,3,5,7,9])
B = pd.Index([2,3,5,7,11])
print(A&B)
A|B

3
Int64Index([2, 5, 11], dtype='int64')
Int64Index([3, 5, 7], dtype='int64')

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

데이터 인덱싱과 선택

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = ['a','b','c','d'])

# index 'b'의 값 가져오기
print(data['b'])

# a가 있는지 확인
print('a' in data)

# data의 key(index) 가져오기
print(data.keys())

# key, value 가져오기
print(list(data.items()))

# 값 치환
data['e'] = 1.25
print(data,'\n')

# 인덱스 슬라이싱
print(data['a': 'c'],'\n')
print(data[(data > 0.3)&(data < 0.8)],'\n')

# 팬시 인덱싱
print(data[['a', 'e']],'\n')
data[[3,2]]

0.5
True
Index(['a', 'b', 'c', 'd'], dtype='object')
[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]
a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

a    0.25
b    0.50
c    0.75
dtype: float64

b    0.50
c    0.75
dtype: float64

a    0.25
e    1.25
dtype: float64

d    1.00
c    0.75
dtype: float64

인덱서: loc, iloc

In [0]:
data = pd.Series(['a','b','c'], index = [1,3,5])

# iloc: index
print(data.iloc[1],'\n')
print(data.iloc[1:3],'\n')

#loc : key
print(data.loc[1],'\n')
data.loc[1:3]

b

3    b
5    c
dtype: object

a

1    a
3    b
dtype: object

In [0]:
# DataFrame에서 데이터 선택
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data['density'] = data['pop'] / data['area'] #새로운 열 생성
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [0]:
# 중요 팁! 데이터 프레임의 참조
print(data['Florida':'Illinois'],'\n') # 행 단위 슬라이싱 연산 
# data['Florida'] # 인덱싱 연산 – 오류 발생!
#data['area':'density'] # 슬라이싱 연산 – 오류!
print(data['area'],'\n') # 열 단위 인덱싱
data[data.density>100] # density 열이 100보다 큰 값만 가져오기

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121